<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index1.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>projekt.MyApp</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
    
    
    
    <servlet>
        <servlet-name>index1</servlet-name>
        <jsp-file>index1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index1</servlet-name>
        <url-pattern>/index1.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upload</servlet-name>
        <jsp-file>upload.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
</web-app>
